body {
    padding-top: 40px;
}

.message .sender-recipient {
}

.message .body {
    font-size: 150%;
}

.message {
    margin-bottom: 0;
    background-color: #fdf5d9;
}

.message.outgoing {
    background-color: #d1eed1;
}
